@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 216 33% 97%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 255 100% 68%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 145 63% 49%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 255 100% 68%;
    --radius: 1rem;
    --sidebar-background: 258 46% 18%;
    --sidebar-foreground: 258 15% 85%;
    --sidebar-primary: 255 100% 68%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 258 46% 28%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 258 46% 24%;
    --sidebar-ring: 255 100% 68%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 255 100% 68%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 145 63% 49%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 255 100% 68%;
    --sidebar-background: 258 46% 18%;
    --sidebar-foreground: 258 15% 85%;
    --sidebar-primary: 255 100% 68%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 258 46% 28%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 258 46% 24%;
    --sidebar-ring: 255 100% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
